<h2>Your Rooms</h2>


<ul>
  {{#each roomList}}
    <li>
      <h3>{{this.name}}</h3>
      <img src="{{this.pictureUrl}}" alt="">
    </li>

  {{else}}

    <p>No rooms yet!</p>
    <a href="/room/add">Add a Room</a>

  {{/each}}

</ul>