<h2>Add a Room</h2>


<form action="/process-room" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="e.g studio close to Eiffel Tower">
  </label>
  <br>
  <label>
    Description:
    <input type="text" name="description" placeholder="e.g near metro whatever">
  </label>
   <br>
  <label>
    Picture:
    <input type="text" name="pictureUrl" placeholder="e.g http://whatever/room.png">
  </label>


  <button>Submit</button>
</form>