body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-alert{
  border: 3px solid;
  color: crimson;

}

.success-alert{
  border: 3px solid;
  color: green;
}